<div class="main">
  <img class="map" src="assets/map.png">
  <img class="click-tavern" (click)="clickTavern()" src="assets/clicktransparent/transparent.png">
  <img class="click-farm" (click)="clickFarm()" src="assets/clicktransparent/transparent.png">
  <img class="click-forge" (click)="clickForge()" src="assets/clicktransparent/transparent.png">
  <img class="click-pond" (click)="clickPond()" src="assets/clicktransparent/transparent.png">
  <img class="click-laboratory" (click)="clickLaboratory()" src="assets/clicktransparent/transparent.png">
</div>
