<div class="main">
  <h1>StangleMoon</h1>



</div>

<div class="tab">
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Se connecter">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username"  formControlName="username">
      </div>
      <div>
        <label for="password">Mot de passe</label>
        <input type="password" id="password"  formControlName="password">
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </mat-tab>

  <mat-tab label="S'inscrire">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitCreationForm()">
      <div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="createUsername"  formControlName="username">
      </div>
      <div>
        <label for="password">Mot de passe</label>
        <input type="password" id="createPassword"  formControlName="password">
      </div>
      <div>
        <label for="password">Mot de passe</label>
        <input type="password" id="createCheckPassword"  formControlName="checkPassword">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </mat-tab>

</mat-tab-group>
</div>
